<ul class="breadcrumb">
    <li>Forms</li>
    <li class="active">LOA</li>
</ul>

<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>LOCAL NUMBER LETTER OF AUTHORIZATION </strong> (LOA)</h3>
                        <ul class="panel-controls">
                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                        </ul>
                    </div>
                    <div class="panel-body">

                        <div class="row" style="padding-right:10%!important">
                            <div class="panel-body" style="padding-left: 13%!important;padding-right: 13%!important;">

                                <h3> This authorization covers the following locations and lead billing telephone numbers and shall remain in effect until further written notice is provided. I understand that I can have only one local service provider for
                                    any one telephone number.
                                </h3>
                                <p>
                                    <strong> NOTE: Hand written forms will not be accepted.</strong>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Main Billing Telephone Number</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-asterisk"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Account Number</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-folder-open"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Caller ID Name (CNAME)</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Requested Port Date</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">e911 Address</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-home"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Customer Name</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-male"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Customer Billing Address</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-building-o"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Physical Address</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Authorized Signer Name</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-unlock-alt"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Authorized Signer Phone #</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-th-large"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <label class="check"><strong> Cell Phone or NumberBarn : </strong><input type="checkbox"  style="width: 18px!important;height: 18px!important;"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                        <div class="row" style="padding-right:10%!important">
                            <div class="panel-body" style="padding-left: 13%!important;padding-right: 10%!important;">

                                <h3> The numbers listed below are the numbers</h3>
                                <p>
                                    <strong> NOTE: If you are porting more than 10 (ten) numbers please submit an Excel spreadsheet. The Numbers Listed Here are the numbers that I want ported:

                                    </strong>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">Main Number</span>
                                            <input type="text" class="form-control" placeholder="Main Number" />
                                            <span class="input-group-addon"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">Other Number</span>
                                            <input type="text" class="form-control" placeholder="Other Number" />
                                            <span class="input-group-addon"> <a href="#" ><i class="fa fa-plus"></i></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" style="padding-right:10%!important;padding-left:10%!important">
                            <div class="col-md-6" style="padding-left:25px!important">
                                <strong>Signature:</strong>
                                <button id="sig-clearBtn" type="button" class="btn btn-danger btn-xs pull-right">x</button>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <canvas id="sig-canvas" width="600" height="180px">       
                                        </canvas>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6" style="padding-right:2px!important">
                                <strong>Attached File:</strong>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form action="#" class="dropzone dropzone-mini"></form>
                                        <form action="#" class="dropzone dropzone-mini"></form>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" style="padding-right:10%!important;padding-left:4%!important;padding-bottom:2%!important;">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Date</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            <input type="date" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Printed Name</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-users"></span></span>
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label style="padding-left: 12px!important;">Email Address</label>
                                    <label class="col-md-3 control-label">&nbsp;</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-mail-forward"></span></span>
                                            <input type="email" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="panel-footer ">
                            <button class="btn btn-default ">Clear Form</button>
                            <button class="btn btn-success pull-right ">Submit</button>
                        </div>
                    </div>
            </form>

            </div>
        </div>

    </div>
    <script src="./assets/js/drop.js"></script>