<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel panel-success">
                    <div class="panel-heading ">
                        <h3 class="panel-title"><img src="assets/images/plj.jpg" class="img-responsive pull-left" width="50%" src="" alt="log"></h3>

                    </div>
                </div>
                <div class="panel-body">

                    <h1>Transfer My Existing Number</h1>
                    <p>To transfer your existing telephone number you must ll out the Letter of Authorization form below completely. Once this form has been submitted we will begin the transfer process with your current phone company. The status of your
                        transfer can be found in your control panel on the Numbers page. The transfer process can take UP TO 60 DAYS to be completed. You will be issued a temporary number until your transferred number has been activated.
                    </p>
                </div>

                <div class="col-md-12 ">
                    <h3>Step 1: Why should I transfer my number to Phone.com?</h3>
                    <div class="panel panel-success">

                        <div class="panel-body ">
                            <p>
                                We know you have probably had your same number for awhile. Why switch numbers, thus leaving you the time-consuming job of contacting friends, family, customers, business partners, etc. with the new number. Keep it easy by transferring your existing number
                                to Phone.com! With so many features available, the choice is simple: Customer claiming they left a message and their call was never returned? Check your past saved voicemails through the ease of email to see if they're
                                right! Give your home-based business a professional sound; no one will know you are answering calls from your living room! New baby in the house? Set up a schedule to forward all calls after 8pm straight to voicemail to
                                avoid waking up the little one! And so much more! Still have questions? Review some frequently asked questions then come back to transfer your number FCC.gov: FCC Consumer Facts
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 ">
                    <h3>Step 2: Can my existing number be transferred?
                    </h3>
                    <div class="panel panel-success">

                        <div class="panel-body ">
                            <h5><strong> Phone Number to Transfer</strong></h5>
                            <p>Enter the phone number you wish to transfer and click "Check Now".</p>
                            <p>
                                <input type="text" ng-model="addno1" name="data">
                                <input type="text" ng-model="addno2" required>
                                <input type="text" ng-model="addno3" required> <button type="button" class="btn btn-rounded btn-xs btn-success">Check
                                    Now</button>
                                <p><label>
                                        <input type="checkbox" value="">

                                    </label> This number has remote call forwarding (RCFW)</p>
                            </p>
                            <p>
                                <h6>Please note, the "Check Now" search only veries that your rate center is supported by Phone.com. Any account freeze or contractual obligation with your provider cannot be determined with this search. Please contact your
                                    current provider to learn if your number is fully portable to another company.
                                </h6>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 ">
                    <h3>Step 3: Letter of Authorization
                    </h3>
                    <p>I authorize Phone.com to act on my behalf to transfer the above telephone number to Phone.com. I understand that I can have only one telecommunications provider for any one telephone number, and that by transferring the number to Phone.com,
                        my existing service on that phone number will be aected. This authorization shall remain in eect until I provide further written notice.</p>
                    <div class="panel panel-success">

                        <div class="panel-body ">
                            <h5><strong>Billing Name</strong></h5>

                            <div class="form-group has-warning">
                                <label class="control-label">Customer's Business or Personal
                                    Name:</label>
                                <input type="text" class="form-control" ng-model="cusbizname" required>(Exactly as it appears on your bill.)
                            </div>

                        </div>
                        <div class="btn-group bootstrap-select show-tick form-control select"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Nothing selected" aria-expanded="false"><span class="filter-option pull-left">Select
                                    No.</span>&nbsp;<span class="caret"></span></button>
                            <div class="dropdown-menu open" style="max-height: 650px; overflow: hidden; min-height: 121px;">
                                <ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 648px; overflow-y: auto; min-height: 119px;">
                                    <li rel="0"><a tabindex="0" class="" style=""><span
                                                class="text">Option 1</span><i
                                                class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                    </li>
                                    <li rel="1"><a tabindex="0" class="" style=""><span
                                                class="text">Option 2</span><i
                                                class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                    </li>
                                    <li rel="2"><a tabindex="0" class="" style=""><span
                                                class="text">Option 3</span><i
                                                class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                    </li>
                                    <li rel="3"><a tabindex="0" class="" style=""><span
                                                class="text">Option 4</span><i
                                                class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                    </li>
                                    <li rel="4"><a tabindex="0" class="" style=""><span
                                                class="text">Option 5</span><i
                                                class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success">

                        <div class="panel-body ">
                            <h5><strong>Service Address</strong></h5>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">Address</span>
                            <input type="text" class="form-control" placeholder="" ng-model="serviceadd" required>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Address 2</span>
                            <input type="text" class="form-control" placeholder="" ng-model="serviceadd2" required>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">City</span>
                            <input type="text" class="form-control" placeholder="" ng-model="servicecity" required>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">State</span>
                            <div class="btn-group bootstrap-select show-tick form-control select">
                                <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="Nothing selected" aria-expanded="false"><span class="filter-option pull-left">Select
                                        No.</span>&nbsp;<span class="caret"></span></button>
                                <div class="dropdown-menu open" style="max-height: 650px; overflow: hidden; min-height: 121px;">
                                    <ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 648px; overflow-y: auto; min-height: 119px;">
                                        <li rel="0"><a tabindex="0" class="" style=""><span
                                                    class="text">Option 1</span><i
                                                    class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                        </li>
                                        <li rel="1"><a tabindex="0" class="" style=""><span
                                                    class="text" selected>Option 2</span><i
                                                    class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                        </li>
                                        <li rel="2"><a tabindex="0" class="" style=""><span
                                                    class="text">Option 3</span><i
                                                    class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                        </li>
                                        <li rel="3"><a tabindex="0" class="" style=""><span
                                                    class="text">Option 4</span><i
                                                    class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                        </li>
                                        <li rel="4"><a tabindex="0" class="" style=""><span
                                                    class="text">Option 5</span><i
                                                    class="glyphicon glyphicon-ok icon-ok check-mark"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">Zip</span>
                            <input type="text" class="form-control" placeholder="" ng-model="servicezip">
                        </div>
                        <P>Please Note: The service address is where the service for the number to transfer is currently being used. This may be dierent than your billing address.
                        </P>
                    </div>
                    <div class="panel panel-success">

                        <div class="panel-body ">
                            <h5><strong>Authorization Information </strong></h5>

                            <div class="input-group">
                                <span class="input-group-addon">Your Name:
                                </span>
                                <input type="text" class="form-control" placeholder="" ng-model="authorname" required>
                            </div><br>
                            <div class="input-group">
                                <span class="input-group-addon">Your Telephone Number:
                                </span> (
                                <input type="text" placeholder="" ng-model="yourtel1" required>) <input type="text" placeholder="" ng-model="yourtel2" required>-<input type="text" placeholder="" ng-model="yourtel3" required>
                            </div>
                            <br>
                            <div class="radio">
                                I am transfering a:
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1"
                                        value="option1" checked="">
                                    Residential number
                                </label>
                                <label>
                                    <input type="radio" name="optionsRadios" id="optionsRadios1"
                                        value="option1" checked="">
                                    Business number
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    By checking the box shown, and submitting this form, I grant
                                    electronic authorization for Phone.com to act as my agent to
                                    complete this change,
                                    and I direct my current telecommunications provider to work with
                                    Phone.com to eect this change. I specically grant Phone.com
                                    authority to sign
                                    the Letter Of Authorization (LOA) on my behalf.
                                    I assert that the information I have provided on this form is true
                                    and accurate to the best of my knowledge. I acknowledge that any
                                    attempt to port
                                    numbers for which I am not authorized constitutes criminal identity
                                    theft and is punishable by law.
                                    I understand that the transfer process may take UP TO 60 DAYS, and I
                                    agree to keep my account in good standing with my current
                                    telecommunications provider, during this transfer period. I
                                    understand that I will receive a temporary number from Phone.com
                                    during the transfer
                                    period, and I agree to pay all standard monthly, usage, and recovery
                                    fees, even though my phone number has not yet been transferred.
                                    I understand that my current telecommunications provider may or may
                                    not cancel my existing wireless or wireline service on which this
                                    phone
                                    number is associated, depending on their policies.
                                    Once I have veried that the transfer is complete, and my number is
                                    routing to Phone.com, I agree to contact my current
                                    telecommunications
                                    provider to conrm their cancellation of my service. I understand
                                    that I am responsible for any cancellation, termination, or transfer
                                    fees that my
                                    current telecommunications provider may charge me.
                                    I understand that if I wish to return this telephone number to my
                                    current telecommunications provider, I may be required to pay a
                                    reconnection
                                    charge to that company.
                                    I also understand that Phone.com may have dierent rates and charges
                                    than my current telephone company, and I am willing to be billed
                                    accordingly
                                </label>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Clear Form</button>
                            <button class="btn btn-primary pull-right" ng-click="saveaddnumber();">Submit</button>

                        </div>
                    </div>

                </div>


        </form>

        </div>
    </div>