<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Dashboard</li>
</ul>
<div class="row">

    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="glyphicon glyphicon-earphone gi-3x"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Add Number</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="glyphicon glyphicon-list-alt"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Sales Proposal</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="fa fa-exchange"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Toll Free Port</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="fa fa-credit-card"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Credit Card Auth</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>

</div>
<div class="row">

    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="fa fa-unlock"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">EFT Authorization</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="fa fa-retweet"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">LOA PORT</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="fa fa-thumb-tack"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Q Instruction</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>
    <div class="col-md-3">

        <!-- START WIDGET MESSAGES -->
        <div class="widget widget-default widget-item-icon" onclick="">
            <div class="widget-item-left">
                <span class="glyphicon glyphicon-qrcode"></span>
            </div>
            <div class="widget-data">
                <div class="widget-int num-count">0</div>
                <div class="widget-title">Credit Card Auth</div>
                <div class="widget-subtitle"><button class="btn btn-success btn-rounded">Show more</button></div>
            </div>

        </div>
        <!-- END WIDGET MESSAGES -->

    </div>

</div>