<ul class="breadcrumb">
    <li>{{url0}}</li>
    <li class="active">{{url1}}</li>
</ul>
<form class="form-horizontal">
    <div class="panel panel-default">

        <div class="col-md-12 scCol ui-sortable"></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4" style="padding-left:2%">
                    <div class="widget widget-info widget-no-subtitle">
                        <div class="widget-subtitle">
                            <h1 style="color:white;"><strong>
                                    <p"> Voip Billing</p>
                                        <p> Services</p>
                                </strong></h1>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 pull-right">
                    <div class="panel panel-warning">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <p>VOIP BILLING SERVICESCREDIT CARD AUTHORIZATION FORM</p>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 pull">
                    <h3 class="panel-title"><img id="logoimg" class="img-responsive pull-right" width="45%" src="assets/images/plj.jpg" alt="log"></h3>
                </div>
                <div class="col-md-8 pull-right">
                    <div class="panel-body text-left">
                        <h3>BILLED ON BEHALF OF</h3>
                        <p>Hamlett Computer Services</p>
                        <p> 25528 S. Hyde Park Blvd #302, Chicago, IL 60637</p>
                        <p> (708) 608-0427 / jhamlett@hamletttechnologies.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-body text-center">
                        <p>
                            <h2> <strong>Please submit digitally or fax completed and signed form to 732-972-5164.</h2>
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group text-left form-group-separated" style="padding-left: 160px;">
                        <h4>
                            <p>I <input type="text"> hereby authorize VoIP Billing Services to charge my bank account via EFT (Electronic Funds Transfer) for recurring monthly service fees.
                                <br><br> Authorization for: <strong>  ongoing until written cancellation is received per Hamlett Computer Services.</strong>
                            </p>
                        </h4>


                        <label class="col-md-2  control-label">Company Name:</label>
                        <div class="col-md-10 ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <br><br>
                        <label class="col-md-2  control-label">Account Phone Number:</label>
                        <div class="col-md-10 ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <br><br>
                        <label class="col-md-2  control-label">Bank Name::</label>
                        <div class="col-md-10 ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control">
                            </div>

                        </div>


                        <br><br>
                        <label class="col-md-2  control-label">Bank Routing Number:</label>
                        <div class="col-md-10 ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <br><br>


                        <label class="col-md-2  control-label">Bank Account Number:</label>
                        <div class="col-md-10 ">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control">
                            </div>

                        </div>
                        <br><br>


                        <br><br>
                        <p>
                            <h4>I authorize VoIP Billing Services to charge my credit card for the recurring monthly fee plus taxes and telecommunication fees. These charges will occur on a monthly basis until this account is canceled per Hamlett Computer
                                Services. </h4>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-md-4  control-label">Cardholder’s Signature:</label>
                                <div class="col-md-6 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text " class="form-control">

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4  control-label">Date:</label>
                                <div class="col-md-6 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control datepicker" value="10-4-19">

                                    </div>

                                </div>
                            </div>
                            -
                            <div class="col-md-12">
                                <label class="col-md-4  control-label">Email:</label>
                                <div class="col-md-6 ">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="email" class="form-control ">

                                    </div>

                                </div>
                            </div>

                            <br><br><br><br>
                            <p>
                                <h4>As the credit card holder, I also authorize VoIP Billing Services to charge my credit card for future purchases or equipment orders verbally approved by me. VoIP Billing Services will keep all information entered on this
                                    form strictly confidential. Please note that VoIP Billing Services is an outside provider that bills on behalf of Hamlett Computer Services.</h4>
                            </p>
                        </div>

                        <div class="col-md-12 ">
                            <h1>Please attach copy of voided check here: <input type="file" class="fileinput btn btn-lg btn-primary " name="filename" id="filename" title="Browse file"></h1>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4" style="padding-left:2%">
                    <div class="widget widget-info widget-no-subtitle">
                        <div class="widget-subtitle">
                            <h1 style="color:white;"><strong>
                                        <p"> Voip Billing</p>
                                            <p> Services</p>
                                    </strong></h1>
                        </div>
                    </div>

                </div>
                <div class="col-md-8 pull-right">
                    <div class="panel panel-warning">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <p>VOIP BILLING SERVICESCREDIT CARD AUTHORIZATION FORM</p>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="panel panel-warning">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <p>About VoIP Billing Services</p>
                            </h1>
                        </div>
                    </div>
                    <p>
                        <h4>VoIP Billing Services is designed and built for Managed Service Providers to perform billing for telecommunications. VoIP Billing Services, serves as a billing platform and handles telecommunication taxes and fees to assure FCC
                            compliance. Once your account is actively running traffic and set to Active Status, your account is deemed active to bill. After your account is placed in Active Status, your initial invoice will generate and be charged. Each
                            month you will be charged on your Bill Date for your monthly service. I understand VoIP Billing Services will apply fee of $20.00 to my account if I Chargeback my monthly payment or if I reverse payment without VoIP Billing
                            Service’s permission of any of the charges authorized on this form and I agree to pay this fee if this occurs.</h4>
                    </p>
                    <div class="col-md-6">
                        <div class="widget widget-info widget-no-subtitle">
                            <div class="widget-subtitle">
                                <img class="img-responsive" src="./assets/img/ccaf1.jpg">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="widget widget-info widget-no-subtitle">
                            <div class="widget-subtitle">
                                <img class="img-responsive" src="./assets/img/ccaf2.jpg">
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-warning">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <h1>
                                <p>Contact Us</p>
                            </h1>
                        </div>
                    </div>
                    <h4 style="padding-left: 20px">
                        <p>VoIP Billing Services</p>
                        <p> 345 Highway 9 South Suite 342</p>
                        <p> Manalapan, NJ 07726</p>
                        <p> (800) 362-7929</p>
                    </h4>
                    <div class="panel panel-warning">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title"></h3>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-danger">Clear Form</button>
                <div class="btn-group pull-right ">
                    <button class="btn btn-info">Print it</button>
                    <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" ng-click="passwordcall(16);">Mail it</button>
                    <button class="btn btn-success " id="sig-submitBtn">Save it</button>
                </div>
            </div>
</form>