<form class="form-horizontal">
    <div class="panel panel-default">

        <div class="col-md-12 scCol ui-sortable">

            <div class="panel panel-success" id="grid_block_5">
                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                    <h3 class="panel-title">LOCAL NUMBER LETTER OF AUTHORIZATION (LOA)</h3>
                </div>

            </div>

        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-6" style="padding-left: 2%">

                    <div class="form-group">


                        <h3 class="panel-title"><img id="logoimg" class="img-responsive" width="50%" src="assets/images/plj.jpg" alt="log"></h3>


                    </div>

                    <div class="form-group">
                        <p> Hamlett Computer Services</p>
                        <p> 25528 S. Hyde Park Blvd #302, Chicago, IL 60637</p>
                        <p> (708) 608-0427 / jhamlett@hamletttechnologies.com </p>
                    </div>






                </div>
                <div class="col-md-4 pull-right">
                    <div class="panel panel-success">
                        <div class="panel-heading ui-draggable-handle">
                            <h3 class="panel-title">INTERNAL USE:</h3>
                        </div>
                        <div class="panel-body">
                            <label class="col-md-4 control-label">CUST ID</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                                                    class="fa fa-user"></span></span>
                                    <input type="text" class="form-control" />
                                </div>

                            </div><br><br>
                            <label class="col-md-4 control-label">RESSELLER ID</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                                                    class="fa fa-users"></span></span>
                                    <input type="text" class="form-control" />
                                </div>

                            </div><br><br>
                            <label class="col-md-4 control-label">ENDPOINT</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                                                    class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control" />
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <div class="col-md-12 ">
            <div class="panel panel-success">

                <div class="panel-body ">
                    <p>
                        <h3> <strong> This authorization covers the following locations and lead billing telephone numbers and shall remain in
                                                        effect until further written notice is provided. I understand that I can have only one local service
                                                        provider for any one telephone number.
                                                        <br> <br>
                                                        <p> NOTE: Hand written forms will not be accepted.</p>
                                                </h3></strong>
                    </p>
                </div>
            </div>


        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Main Billing Telephone
                                                    Number:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                                                class="fa fa-briefcase"></span></span>
                                <input type="text" class="form-control" />
                            </div>

                        </div>
                    </div>





                </div>

                <div class="col-md-6">


                    <div class="form-group">
                        <label class="col-md-4 control-label">Cell Phone
                                                        or NumberBarn:</label>
                        <div class="col-md-8">
                            <div class="input-group">

                                <span class="input-group-addon"><span
                                                                class="fa fa-info"></span></span>
                                <input type="number" class="form-control ">
                                <div class="col-md-4">

                                </div>
                            </div>
                            <label class="check"><div class="icheckbox_minimal-grey" style="position: relative;"><input type="checkbox" class="icheckbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> If checked enter account PIN</label>
                        </div>
                    </div>




                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Customer Name:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                                                class="fa fa-briefcase"></span></span>
                                <input type="text" class="form-control" />
                            </div>

                        </div>
                    </div>





                </div>

                <div class="col-md-6">


                    <div class="form-group">
                        <label class="col-md-4 control-label">Account Number:</label>
                        <div class="col-md-8">
                            <div class="input-group">

                                <span class="input-group-addon"><span
                                                                class="fa fa-info"></span></span>
                                <input type="number" class="form-control ">
                                <div class="col-md-4">

                                </div>
                            </div>

                        </div>
                    </div>




                </div>
                <br> <br> <br> <br> <br> <br>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Customer Billing Address:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>

                        </div>
                    </div>





                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Physical Address:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>

                        </div>
                    </div>





                </div>
                <br> <br> <br> <br><br> <br> <br>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Authorized Signer Name:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                                                class="fa fa-briefcase"></span></span>
                                <input type="text" class="form-control" />
                            </div>

                        </div>
                    </div>





                </div>

                <div class="col-md-6">


                    <div class="form-group">
                        <label class="col-md-4 control-label">Cell Phone
                                                        or NumberBarn:</label>
                        <div class="col-md-8">
                            <div class="input-group">

                                <span class="input-group-addon"><span
                                                                class="fa fa-info"></span></span>
                                <input type="number" class="form-control ">
                                <div class="col-md-4">

                                </div>
                            </div>

                        </div>
                    </div>




                </div>
                <br> <br>
                <div class="col-md-6">

                    <div class="form-group">
                        <label class="col-md-4 control-label">Caller ID Name (CNAME):</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span
                                                                class="fa fa-briefcase"></span></span>
                                <input type="text" class="form-control" />
                            </div>

                        </div>
                    </div>





                </div>

                <div class="col-md-6">


                    <div class="form-group">
                        <label class="col-md-4 control-label">Requested Port Date:</label>
                        <div class="col-md-8">
                            <div class="input-group">

                                <span class="input-group-addon"><span
                                                                class="fa fa-info"></span></span>
                                <input type="number" class="form-control ">
                                <div class="col-md-4">

                                </div>
                            </div>

                        </div>
                    </div>




                </div>



            </div>

            <br><br>

            <div class="col-md-12 ">
                <div class="panel panel-success">

                    <div class="panel-body ">
                        <p>
                            <h3> <strong>The numbers listed below are the numbers I want to port to Hamlett Computer Services.
                                                            <br> <br>
                                                           
                                                    </h3></strong>
                        </p>
                    </div>
                    <p>NOTE: If you are porting more than 10 (ten) numbers please submit an Excel spreadsheet.</p>
                </div>


            </div>
            <h2>The Numbers Listed Here are the numbers that I want ported:</h2>

            <div class="col-md-12 form-group-separated">
                <div class="panel panel-success">

                    <div class="panel-body wrapper">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-4 control-label">Main Billing Telephone
                                                            Number:</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-briefcase"></span></span>
                                        <input type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>





                        </div>
                        <div class="col-md-12">


                            <div class="form-group">
                                <label class="col-md-2 control-label">Account Number:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-info"></span></span>
                                        <input type="number" class="form-control ">
                                    </div>

                                </div>
                            </div>




                        </div>

                        <div class="col-md-6 element">
                            <div class="form-group"> <label class="col-md-4 control-label"> <button class="btn btn-danger btn-xs remove">X</button></label>
                                <div class="col-md-8">
                                    <div class="input-group"> <span class="input-group-addon"><span
                                                    class="fa fa-phone"></span></span> <input type="number" class="form-control "><span class="input-group-addon ">
                                                        <span  class="btn btn-primary btn-xs fa fa-plus clone"></span></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="results"></div>

                    </div>

                </div>


            </div>
            <H3>Authorized Signature</H3>
            <div class="form-group-separated">
                <div class="col-md-6">
                    <div class="form-group"> <label class="col-md-4 control-label">Signature:</label><button class="btn btn-warning btn-default btn-rounded pull-right" id="sig-clearBtn">
                                            X</button></h5>


                        <div class="col-md-8">
                            <canvas id="sig-canvas" width="400" height="100">
        
                                            </canvas>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Date:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-info"></span></span>
                                <input class="form-control datepicker" value="10-3-2019">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Printed Name:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-briefcase"></span></span>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Email Address:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-info"></span></span>
                                <input type="email" class="form-control ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="panel-footer">
            <button class="btn btn-danger">Clear Form</button>
            <div class="btn-group pull-right ">
                <button class="btn btn-info">Print it</button>
                <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" ng-click="passwordcall(16);">Mail it</button>
                <button class="btn btn-success " id="sig-submitBtn">Save it</button>
            </div>
        </div>
</form>