<form class="form-horizontal">
    <div class="panel panel-default">

        <div class="col-md-12 scCol ui-sortable">

            <div class="panel panel-success" id="grid_block_5">
                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                    <h3 class="panel-title"></h3>
                </div>

            </div>

        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-5">







                </div>
                <div class="col-md-12 ">




                    <center>


                        <img id="logoimg" class="img-responsive" width="20%" src="assets/images/plj.jpg" alt="log">




                    </center>




                </div>

            </div>

        </div>
        <div class="col-md-12 ">
            <div class="panel panel-success">

                <div class="panel-body ">
                    <p>
                        <h3> <strong>
                                <center> QUICKSTART “CHEAT SHEET”</center>

                        </h3></strong>
                    </p>
                </div>
            </div>
            <div class="panel panel-success ">
                <center>
                    <p>
                        <h5> Hamlett Computer Services | (708) 608-0427</h5>
                    </p>
                </center>

            </div>

        </div>

        <div class="panel-body">

            <div class="row text-center">

                <div class="col-md-4">

                    <p><strong> To Record Greetings Remotely:</strong></p>

                    <p> • Dial 866-417-0771 Portal: <br> • Enter your phone number <br> • Choose extension, or press # if no <br> extension • Enter your pin<br> • Choose 4 for Greetings
                    </p>



                </div>

                <div class="col-md-4">


                    <p><strong> To Get Messages Remotely:
                        </strong></p>

                    <p>
                        • Dial 866-417-0771 <br> • Enter your phone number <br> • Choose extension, or press # if no extension <br> • Enter your pin <br> • Choose 1 for Voicemails

                    </p>


                </div>

                <div class="col-md-4">

                    <p><strong> To Record Greetings From Your
                            Phone/App:
                        </strong></p>

                    <p> • Hit the VM button or dial *99 <br> • Enter your pin <br> • Choose 4 for Greetings, follow the prompts • In External Number, add your phone number <br> • Under Options, choose “Call Announce” • Set days and times or you can leave
                        it 24/7 <br>

                </div>

            </div>

            <div class="row text-center">

                <div class="col-md-4">

                    <p><strong> To Get Messages From Your
                            Phone/App:</strong></p>

                    <p> Hit the VM button or dial *99 <br> • Enter your pin <br> • Choose 1 for Voicemails, follow the prompts

                    </p>



                </div>

                <div class="col-md-4">


                    <p><strong> To Get Messages Remotely:
                        </strong></p>

                    <p>
                        • Dial 866-417-0771 <br> • Enter your phone number <br> • Choose extension, or press # if no extension <br> • Enter your pin <br> • Choose 1 for Voicemails

                    </p>


                </div>

                <div class="col-md-4">



                    <p>

                        • The default timeout is 30 seconds which is about 4 rings, change it if needed • Click Insert <br> • Be sure you have a greeting recorded on your extension for your caller to hear if you don't answer your cell</p>
                </div>

            </div>

            <div class="row text-center">

                <div class="col-md-4">

                    <p><strong> To Load Greetings to the Portal:
                        </strong></p>

                    <p> • Go to your End User Portal • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension you need to load the greeting for <br> • Go to Control Panel>Extension> <br> Greeting Manager.
                        Choose List <br> Greetings or Add Mailbox Greeting
                    </p>



                </div>

                <div class="col-md-4">


                    <p><strong> To Set Up Notifications Through the
                            Portal:
                        </strong></p>

                    <p>
                        • Go to your End User Portal • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the <br> extension you need to load the greeting for. <br> • Go to Control Panel>Notifications <br>                        • Set up VM Email Notifications <br> (choose add attachment), and/or text notifications to your cell


                    </p>


                </div>

                <div class="col-md-4">

                    <p><strong> To Get Messages Or Record
                            Greetings For Another Extension:</strong></p>


                    <p>

                        • Dial *94+ Extension • Enter the Pin for that Extension. <br> • Choose 1 for Voicemails or 4 for Greetings <br> • To access the main number on the account, dial *93 <br> • Enter the pin for the main mailbox <br> • Choose 1 for
                        Voicemails or 4 for Greetings
                </div>

            </div>


            <div class="row text-center">

                <div class="col-md-4">

                    <p><strong> To Retrieve Messages From The Portal:
                        
                        </strong></p>

                    <p> • Go to your End User Portal <br> • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension/box you need to get messages from <br> • Or go to Mailbox>Inbox. To retrieve your messages.
                    </p>



                </div>

                <div class="col-md-4">


                    <p><strong> To Retrieve SMS From the Portal:
                        </strong></p>

                    <p>
                        • Go to your End User Portal <br> • Type in your phone number <br> • Type in Extension if needed <br> • From Extension Manager choose the extension you need to get SMS for. <br> • In the upper left, click Text Messages, this is
                        where you will find your SMS.
                    </p>


                </div>

                <div class="col-md-4">

                    <p><strong> Hotdesking:</strong></p>
                    <p>

                        • To Login dial: *072[ext] (all one string) enter pin when prompted. Phone will reboot. <br> • To Logout dial: *73[ext] (all one String) phone will reboot. <br> • If you are logged in, you cannot log in again. You will not need
                        a password to log out.
                </div>

            </div>


        </div>
        <!-- <div class="panel-footer">
            <button class="btn btn-default">Clear Form</button>
            <button class="btn btn-primary pull-right">Submit</button>
        </div> -->
</form>