<ul class="breadcrumb">
    <li>{{url0}}</li>
    <li class="active">{{url1}}</li>
</ul>
<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <h3 class="panel-title"><img id="logoimg" src="assets/images/plj.jpg" class="img-responsive pull-left" width="50%" src="" alt="log"></h3>

                </div>
                <div id="wpblue" class="panel panel-success text-center">
                    <h1>Proposal Specifications</h1>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Business</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-briefcase"></span></span>
                                        <input id="biz" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Name</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-user"></span></span>
                                        <input id="cname" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Name</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-users"></span></span>
                                        <input id="bname" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Title</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-tag"></span></span>
                                        <input id="cphone" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Title</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-money"></span></span>
                                        <input id="btitle" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Phone</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-asterisk"></span></span>
                                        <input id="cphone" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Phone</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-location-arrow"></span></span>
                                        <input id="bname" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Email</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-envelope"></span></span>
                                        <input id="cemail" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Email</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-envelope-o"></span></span>
                                        <input id="bemail" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea id="caddress" class="form-control" rows="5"></textarea>
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Address</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea id="baddress" class="form-control" rows="5"></textarea>
                                    </div>

                                </div>
                            </div>




                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Date</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-calendar"></span></span>
                                        <input id="date" type="text" class="form-control datepicker" value="2014-11-01">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Presented by:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-info"></span></span>
                                        <input id="presentedby" type="text" class="form-control ">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Term Length:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-ellipsis-h"></span></span>
                                        <input id="termlength" type="text" class="form-control ">
                                    </div>
                                    <span class="help-block">Federal, state, local taxes, and fees not
                                        included.</span>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="col-md-12">
                        <div class="panel panel-warning panel-heading">
                            <h3 class="panel-title">Monthly Recurring Charges</h3>
                            <div class="btn-group pull-right ">
                                <button class="btn btn-success btn-lg" ng-click="mrcadd();">+</button>
                                <button class="btn btn-danger btn-lg" ng-click="mrcmin();">-</button>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover mcrrowTable" id="mcrrowTable">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Services</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" ng-model="mrcunit" class="form-control" placeholder="0"></td>
                                        <td>
                                            <select class="btn btn block btn-default">
                                                        <option ng-repeat="mrcitem in mcritems">{{mrcitem.items}}</option>
                                                </select>
                                        </td>
                                        <td><input type="number" ng-model="mrcunitprice" class="form-control" placeholder="$ 0.00"></td>
                                        <td><input type="number" value="{{mrcunit*mrcunitprice}}" ng-model="mcrtotalprice" class="form-control mcramount" placeholder="$ 0.00"></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            <h4>Total Monthly Recurring Charges</h4>
                                        </td>
                                        <td></td>
                                        <td>
                                            <h4><input type="number" id="mrctotal" class="form-control mrctotal" placeholder="$ 0.00"></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel-heading panel panel-warning">
                            <h3 class="panel-title">Non-Recurring Charges (NRC)</h3>
                            <div class="btn-group pull-right ">
                                <button class="btn btn-success btn-lg" ng-click="nrcadd()">+</button>
                                <button class="btn btn-danger btn-lg" ng-click="nrcmin()">-</button>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover ncrrowTable" id="ncrrowTable">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Services</th>
                                        <th>Unit Price</th>
                                        <th>Total Price </th>




                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" id="" class="form-control" placeholder="0"></td>
                                        <td>
                                            <select class="btn btn block btn-default">
                                                <option ng-repeat="nrcitem in ncritems">{{nrcitem.items}}</option>
                                        </select>
                                        </td>
                                        <td><input type="number" id="" class="form-control" placeholder="$ 0.00"></td>
                                        <td><input type="number" id="" class="form-control" placeholder="$ 0.00"></td>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td>
                                            <h4>Total Non-Recurring ChargesDate</h4>
                                        </td>
                                        <td></td>
                                        <td>
                                            <h4>$ 0.00</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />



                        </div>

                        <div class="row">

                            <div class="col-md-12" style="padding-top: 2%!important;">

                                <div class="panel-heading panel panel-warning">
                                    <h3 class="panel-title">Free Program Feature Highlights
                                    </h3>
                                    <div class="btn-group pull-right ">
                                        <button class="btn btn-success btn-lg" ng-click="fpfhadd()">+</button>
                                        <button class="btn btn-danger btn-lg" ng-click="fpfhmin()">-</button>
                                    </div>
                                </div>
                                <table class="table table-hover fpfrowTable" id="fpfrowTable">
                                    <thead>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Services</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" id="" class="form-control" placeholder="0"></td>
                                            <td>
                                                <select class="btn btn block btn-default">
                                                            <option ng-repeat="fpfitem in fpfitems">{{fpfitem.items}}</option>
                                                    </select>
                                            </td>
                                            <td><input type="number" id="" class="form-control" placeholder="$ 0.00"></td>
                                            <td><input type="number" id="" class="form-control" placeholder="$ 0.00"></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <h4>Total Program Features</h4>
                                            </td>
                                            <td></td>
                                            <td>
                                                <h4>$ 0.00</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Main Phone Number to be
                                        Used to Establish Account:</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                            <input type="text" class="form-control" />

                                        </div>
                                        <span class="help-block">This proposal has been approved and
                                            is valid for 30 days from signature date.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span
                                                    class="fa fa-calendar"></span></span>
                                            <input type="text" class="form-control datepicker" value="2014-11-01">
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <h5><strong> Signature: </strong><button class="btn btn-warning btn-default btn-rounded pull-right" id="sig-clearBtn">
                                        X</button></h5>
                                <!-- <div class="row pull-right">
                                                <div class="col-md-12">
                                                       
                                                </div>
                                            </div>          -->
                                <div class="row pull-right">
                                    <div class="col-md-12">
                                        <canvas id="sig-canvas" width="600" height="80">

                                        </canvas>
                                    </div>
                                </div>
                            </div>


                            <br /><br /><br />


                        </div>

                    </div> <br /><br /><br />
                    <div class="panel-footer">
                        <button class="btn btn-danger">Clear Form</button>
                        <div class="btn-group pull-right ">
                            <button class="btn btn-info">Print it</button>
                            <button class="btn btn-primary " data-toggle="modal" data-target="#exampleModalCenter" ng-click="passwordcall(16);">Mail it</button>
                            <button class="btn btn-success " id="sig-submitBtn">Save it</button>
                        </div>
                    </div>

        </form>


        </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" style="float: none!important;">X</button>
                    </div>
                    <div class="modal-body">
                        <form id="myform">
                            <label>Recipient Email:</label>
                            <input type="text" name="email" class="form-control" />
                            <label>Sender Name:</label>
                            <input type="text" name="from_name" class="form-control" />
                            <label>Receiver Name:</label>
                            <input type="text" name="to_name" class="form-control" />
                            <label>Hash Link:</label>
                            <input ng-model="hash" type="text" name="message_html" class="form-control" readonly/>
                            <br><br>
                            <button class="btn btn-success btn-block">
                Send
                </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>