<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><strong>epic</strong>.network</h3>
            <ul class="panel-controls">
                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
            </ul>
        </div>
        <div class="col-md-12 scCol ui-sortable">

            <div class="panel panel-success" id="grid_block_5">
                <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                    <h3 class="panel-title"></h3>
                </div>

            </div>

        </div>
        <div class="panel-body">

            <div class="row">

                <div class="col-md-12 ">




                    <center>


                        <img id="logoimg" class="img-responsive" width="20%"
                            src="./img/no_bg-dark-horizontal-1.png" alt="log">




                    </center>




                </div>

            </div>

        </div>
        <div class="col-md-12 ">
            <div class="panel panel-success">

                <div class="panel-body ">
                    <p>
                        <h2> <strong>
                                <center>STAR CODE REFERENCE</center>

                        </h2></strong>
                    </p>
                </div>
            </div>
            <div class="panel panel-success ">
                <div class="panel-body panel-body-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Name</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>*51</td>
                                <td>Night Mode.</td>

                            </tr>
                            <tr>
                                <td>*51+extension </td>
                                <td>Toggle Night mode for the specified extension or use a did
                                    for a did box.
                                </td>

                            </tr>
                            <tr>
                                <td>*55</td>
                                <td>Login/Logout call center agent
                                </td>

                            </tr>
                            <tr>
                                <td>*67+phone number </td>
                                <td>Outbound call with caller id blocking</td>

                            </tr>
                            <tr>
                                <td>*72+phone number</td>
                                <td>Activate call forwarding (for that extension only)
                                </td>

                            </tr>
                            <tr>
                                <td>*73</td>
                                <td>Deactivate call forwarding (for that extension only)</td>

                            </tr>
                            <tr>
                                <td>*87+extension</td>
                                <td>Spy (outbound calls only) 0=listen only, 1=speak with other
                                    half, 2=speak
                                    with user, 3=three-way call</td>

                            </tr>
                            <tr>
                                <td>*93</td>
                                <td>Call into subscriber mode for the main box</td>

                            </tr>
                            <tr>
                                <td>*94+extension</td>
                                <td>Call into the extension’s subscriber mode</td>

                            </tr>
                            <tr>
                                <td>*96+extension</td>
                                <td>Intercom an extension</td>

                            </tr>
                            <tr>
                                <td>*97+extension</td>
                                <td>Eavesdrop 0=listen only, 1=speak with other half, 2=speak
                                    with user,
                                    3=three-way call
                                </td>

                            </tr>
                            <tr>
                                <td>*98+extension</td>
                                <td>Dial into extension’s voicemail box to leave a message
                                </td>

                            </tr>
                            <tr>
                                <td>*99</td>
                                <td>Dial into subscriber mode.
                                </td>

                            </tr>

                        </tbody>
                    </table>


                </div>

            </div>
            <div style="margin-left: 230px">
                <h4>Conference Bridge Controls</h4>
                <p>0 Mute/Unmute Toggle
                </p>
                <p>1 Volume Talk Down</p>
                <p>2 Volume Talk Zero
                </p>
                <p>3 Volume Talk Up</p>
                <p>4 Volume Listen Down</p>
                <p>5 Volume Listen Zero
                </p>
                <p>6 Volume Listen Up</p>
                <p>7 Energy Down</p>
                <p>8 Energy Equal
                </p>

                <p>*2 Start Call Recording
                </p>
                <p>Stop Call Recording
                </p>
                <div>
                </div>


                <!-- <div class="panel-footer">
            <button class="btn btn-default">Clear Form</button>
            <button class="btn btn-primary pull-right">Submit</button>
        </div> -->
</form>