<ul class="breadcrumb">
    <li>{{url0}}</li>
    <li class="active">{{url1}}</li>
</ul>
<div class="page-content-wrap">

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="scCol ui-sortable">
                    <div class="panel panel-success" id="grid_block_5">
                        <div class="panel-heading ui-draggable-handle ui-sortable-handle">
                            <h3 class="panel-title">Profile</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" id="updateprofile">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </div>
                                    <input id="usersname" type="text" class="form-control" placeholder="Full Name" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-envelope"></span>
                                    </div>
                                    <input id="usersmail" type="text" class="form-control" placeholder="Email" />
                                </div>
                            </div><br><br>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <input id="mobile" type="number" class="form-control" placeholder="Mobile #" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-briefcase"></span>
                                    </div>
                                    <input id="usersdesignation" type="text" class="form-control" placeholder="Designation" readonly/>
                                </div>
                            </div>
                            <br><br>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="fa fa-briefcase"></span>
                                    </div>
                                    <input id="phone" type="number" class="form-control" placeholder="Phone #" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <input type="file" class="file-input-wrapper btn btn-default btn-block fileinput " id="userimg" title="Browse file" />
                            </div>
                            <br><br>
                            <br><br>
                            <div class="col-md-2 pull-right">
                                <button class="btn btn-success btn-block"><span class="fa fa-plus"></span>Update</button>
                            </div>
                            <div class="col-md-2 pull-right">
                                <a href="./reset.html" class="btn btn-warning btn-block"><span
                                        class="fa fa-unlock"> Change Password</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>