<div class="row">
    <div class="col-md-12">

        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ">
                    <h3 class="panel-title"><img id="logoimg" class="img-responsive pull-left"
                            width="50%" src="./img/no_bg-dark-horizontal-1.png" alt="log"></h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div id="wpblue" class="panel panel-warning">
                    <h1>Proposal Specifications</h1>
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Business</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-briefcase"></span></span>
                                        <input id="biz" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Name</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-user"></span></span>
                                        <input id="cname" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Name</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-users"></span></span>
                                        <input id="bname" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Title</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-tag"></span></span>
                                        <input id="cphone" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Title</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-money"></span></span>
                                        <input id="btitle" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Phone</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-asterisk"></span></span>
                                        <input id="cphone" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Phone</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-location-arrow"></span></span>
                                        <input id="bname" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Email</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-envelope"></span></span>
                                        <input id="cemail" type="text" class="form-control" />
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Email</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-envelope-o"></span></span>
                                        <input id="bemail" type="text" class="form-control" />
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">Contact Address</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea id="caddress" class="form-control"
                                            rows="5"></textarea>
                                    </div>

                                </div>
                                <label class="col-md-2 control-label">Billing Address</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"></span>
                                        <textarea id="baddress" class="form-control"
                                            rows="5"></textarea>
                                    </div>

                                </div>
                            </div>




                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label class="col-md-3 control-label">Date</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-calendar"></span></span>
                                        <input id="date" type="text" class="form-control datepicker"
                                            value="2014-11-01">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Presented by:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-info"></span></span>
                                        <input id="presentedby" type="text" class="form-control ">
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Term Length:</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span
                                                class="fa fa-ellipsis-h"></span></span>
                                        <input id="termlength" type="text" class="form-control ">
                                    </div>
                                    <span class="help-block">Federal, state, local taxes, and fees not
                                        included.</span>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>
                <div class="panel panel-default">
                    <div class="col-md-12">
                        <div class="panel panel-warning panel-heading">
                            <h3 class="panel-title">Monthly Recurring Charges</h3>
                            <div class="btn-group pull-right ">
                                <button class="btn btn-success btn-lg" id="mrcadd" >+</button>
                                <button class="btn btn-danger btn-lg"  id="mrcmin" >-</button>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover mcrrowTable" id="mcrrowTable">
                                <thead>
                                    <tr >
                                        <th>Unit</th>
                                        <th>Services</th>
                                        <th>Unit Price</th>
                                        <th>Total Price</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" id="" class="form-control"
                                                placeholder="0"></td>
                                        <td><select name="cars" class="btn btn block">
                                                <option value="volvo">Unlimited use, Hosted VoIP service
                                                    priced monthly per call path</option>
                                                <option value="saab">Fax adapter service </option>
                                                <option value="fiat">Additional DIDs (direct dial phone
                                                    numbers-one is included) </option>
                                                <option value="audi">Electronic fax service (inbound and
                                                    outbound)</option>
                                                <option value="audi">Virtual Extensions for cell or land
                                                    lines included at no additional charge</option>
                                                <option value="audi">SMS Text with 1,000 texts</option>
                                                <option value="audi">Note: 1.50 per device for
                                                    regulatory recovery will be added. </option>
                                            </select></td>
                                        <td><input type="number" id="" class="form-control"
                                                placeholder="$ 0.00"></td>
                                        <td><input type="number" id="mcramount" class="form-control mcramount"
                                                placeholder="$ 0.00"></td>
                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td>
                                            <h4>Total Monthly Recurring Charges</h4>
                                        </td>
                                        <td></td>
                                        <td>
                                            <h4><input type="number" id="mrctotal" class="form-control mrctotal"
                                                    placeholder="$ 0.00"></h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel-heading panel panel-warning">
                            <h3 class="panel-title">Non-Recurring Charges (NRC)</h3>
                            <div class="btn-group pull-right ">
                                <button class="btn btn-success btn-lg" id="nrcadd" >+</button>
                                <button class="btn btn-danger btn-lg" id="nrcmin" >-</button>
                            </div>
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover ncrrowTable" id="ncrrowTable">
                                <thead>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Services</th>
                                        <th>Unit Price</th>
                                        <th>Total Price </th>




                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="number" id="" class="form-control"
                                                placeholder="0"></td>
                                        <td><select name="cars" class="btn btn block">
                                                <option value="volvo">Aastra/Mitel 6863i Basic | MSRP
                                                    $100.00</option>
                                                <option value="saab">Aastra/Mitel 6867i Advanced Phone |
                                                    MSRP $230.00</option>
                                                <option value="fiat">Aastra/Mitel 6869i Executive Phone
                                                    | MSRP $300.00</option>
                                                <option value="audi">Aastra/Mitel 6873i Advanced Touch
                                                    Screen Executive Phone | MSRP $425.00 </option>
                                                <option value="audi">Aastra/Mitel M680i Expansion Module
                                                    | MSRP $80.00</option>
                                                <option value="audi">Aastra/Mitel M685i Expansion Module
                                                    | MSRP $200.00</option>
                                                <option value="audi">Aastra/Mitel MiVoice Conference
                                                    Phone | MSRP $1,195.00</option>
                                            </select></td>
                                        <td><input type="number" id="" class="form-control"
                                                placeholder="$ 0.00"></td>
                                        <td><input type="number" id="" class="form-control"
                                                placeholder="$ 0.00"></td>
                                    </tr>


                                    <tr>
                                        <td></td>
                                        <td>
                                            <h4>Total Non-Recurring ChargesDate</h4>
                                        </td>
                                        <td></td>
                                        <td>
                                            <h4>$ 0.00</h4>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />



                        </div>

                        <div class="row">

                            <div class="col-md-12" style="padding-top: 2%!important;">

                                <div class="panel-heading panel panel-warning">
                                    <h3 class="panel-title">Free Program Feature Highlights
                                    </h3>
                                    <div class="btn-group pull-right ">
                                        <button class="btn btn-success btn-lg" id="fpfhadd" >+</button>
                                        <button class="btn btn-danger btn-lg" id="fpfhmin" >-</button>
                                    </div>
                                </div>
                                <table class="table table-hover fpfrowTable" id="fpfrowTable">
                                    <thead>
                                        <tr>
                                            <th>Unit</th>
                                            <th>Services</th>
                                            <th>Unit Price</th>
                                            <th>Total Price</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="number" id="" class="form-control"
                                                    placeholder="0"></td>
                                            <td><select name="cars" class="btn btn block">
                                                    <option value="volvo">Auto attendant with
                                                        unlimited extensions and dial by name
                                                    </option>
                                                    <option value="saab">Upload custom music-on-hold
                                                    </option>
                                                    <option value="fiat">Upload greetings </option>
                                                    <option value="audi">Voicemail to email
                                                    </option>
                                                    <option value="audi">After hours and holiday
                                                        routing</option>
                                                    <option value="audi">Extension to extension
                                                        dialing </option>
                                                    <option value="audi">Callier ID and CallerId
                                                        name </option>
                                                </select></td>
                                            <td><input type="number" id="" class="form-control"
                                                    placeholder="$ 0.00"></td>
                                            <td><input type="number" id="" class="form-control"
                                                    placeholder="$ 0.00"></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>
                                                <h4>Total Program Features</h4>
                                            </td>
                                            <td></td>
                                            <td>
                                                <h4>$ 0.00</h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Main Phone Number to be
                                        Used to Establish Account:</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-asterisk"></span></span>
                                            <input type="text" class="form-control" />

                                        </div>
                                        <span class="help-block">This proposal has been approved and
                                            is valid for 30 days from signature date.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span
                                                    class="fa fa-calendar"></span></span>
                                            <input type="text" class="form-control datepicker"
                                                value="2014-11-01">
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <h5><strong> Signature: </strong><button
                                        class="btn btn-warning btn-default btn-rounded pull-right"
                                        id="sig-clearBtn">
                                        X</button></h5>
                                <!-- <div class="row pull-right">
                                                <div class="col-md-12">
                                                       
                                                </div>
                                            </div>          -->
                                <div class="row pull-right">
                                    <div class="col-md-12">
                                        <canvas id="sig-canvas" width="600" height="80">

                                        </canvas>
                                    </div>
                                </div>
                            </div>


                            <br /><br /><br />


                        </div>

                    </div> <br /><br /><br />
                    <div class="panel-footer">
                        <button class="btn btn-danger">Clear Form</button>
                        <div class="btn-group pull-right ">
                            <button class="btn btn-info ">Print it</button>
                            <button class="btn btn-primary ">Mail it</button>
                            <button class="btn btn-success ">Save it</button>                                      
                        </div>
                    </div>
                    
        </form>

    </div>
</div>